<!-- <button (click)="generatePDF()">Genera PDF</button>
<button (click)="downloadPDF()" [disabled]="!generatedPDF">Scarica PDF</button>
<input type="text" [(ngModel)]="inputData.nomeStanza" placeholder="Inserisci il nome della stanza">
<input type="text" [(ngModel)]="inputData.nomeVoce" placeholder="Inserisci il nome del componente">
<input type="text" [(ngModel)]="inputData.prezzoVoce" placeholder="Inserisci il prezzo del componente">
<input type="text" [(ngModel)]="inputData.numeroVoce" placeholder="Inserisci il numero del componente"> -->

<!-- 
<app-material-button></app-material-button>
<mat-slide-toggle>Toggle me!</mat-slide-toggle>

<mat-form-field>
  <mat-label>Choose a date</mat-label>
  <input matInput [matDatepicker]="picker">
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field> -->
<mat-slide-toggle>Toggle me!</mat-slide-toggle>
<app-bar-header></app-bar-header>
<mat-card appDraggable>
  <mat-card-content>Simple card</mat-card-content>
</mat-card>